<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit listing</title>
</head>
<body>
    <h1>Edit the listing</h1>
    <form method = "POST" action = "/listings/<%= detail._id%>/?_method=PUT">
        <input type="text" name="listing[title]" value = "<%=detail.title%>"/>
        <br/>
        <br/>
        <textarea type="text" name="listing[description]"> <%=detail.description%> </textarea>
        <br/>
        <br/>
        <input type="text" name = listing[image] value = "<%=detail.image %>">

        <input type="number" name="listing[price]" value = "<%=detail.price%>"/>
        <br/>
        <br/>

        <input type="text" name="listing[country]" value = "<%=detail.country%>"/>
        <br/>
        <br/>

        <input type="text" name="listing[location]" value = "<%=detail.location%>"/>
        <br/>
        <br/>
        <button>Save</button> 

    </form>
</body>
</html>