<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h3>Listing Details</h3>
    <ul>
        <li><%= detail._id %></li>
        <li><%= detail.title %></li>
        <li><%= detail.description %></li>
        <li>&#8377; <%= detail.price.toLocaleString("en-IN") %></li>
        <li><%= detail.location %></li>
        <li><%= detail.country %></li>
    </ul>
</body>
</html>